<HEADER>Simple Blog</HEADER>
<div id="horizontal">
<nav>Menu <br><br>
	<%= link_to 'Back', articles_path %>
</nav>
<article>
<h1>Edit phase</h1>
<%= render 'form' %>
</article>
<nav>Sponsored Links <br><br>
<a href="https://www.google.com">Google</a>
</nav>
</div>